server:
  port: 9091
spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/department_service
    username: root
    password: Admin@1234
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect
  application:
    name: DEPARTMENT-SERVICE
  config:
    import: optional:configserver:http://localhost:8085
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  cloud:
    bus:
      refresh:
        enabled: true


management:
  endpoints:
    web:
      exposure:
        include: health, info, env, metrics,busrefresh,busenv
